.App {
  text-align: left;
  display: flex;
  background-color: #282c34;
  min-height: 100vh;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  padding-left: 20px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  color: white;
}
